<img src="\public\images\logos\logo.webp" alt="image of a flower" />
<p>&copy; Jackson Fonseca - 2023 - jacktrevooor@hotmail.com - This is Just a practice, NOT a real busisness!</p>
<div id="footer-social">
    <a href="https://www.facebook.com"><img src="\public\images/facebook.png" alt="Facebook Logo" class="social-image"></a>
    <a href="https://www.instagram.com"><img src="\public\images/instagram.png" alt="Instagram Logo" class="social-image"></a>
    <a href="https://www.twitter.com/"><img src="\public\images/twitter.svg" alt="Twitter Logo" class="social-image"></a>    
</div>